---
import Layout from '../../layouts/Layout.astro';
import CrudProduct from '../../components/Product/Crud.vue';
---

<Layout title="Product">
	<section id="addProduct" class="grid-custom pt-4">
		<CrudProduct client:load />
	</section>
</Layout>
