---
import Layout from '../../layouts/Layout.astro';
import ProductIndex from '../../components/Product/Index.vue';
---

<Layout title="Product">
	<section id="listProduct" class="grid-custom pt-4">
		<ProductIndex client:load />
	</section>
</Layout>
