---
import Layout from '../../layouts/Layout.astro';
import CrudUser from '../../components/User/Crud.vue';
---

<Layout title="User">
	<section id="addUser" class="grid-custom full pt-4">
		<CrudUser client:load />
	</section>
</Layout>
